.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#aed9fc 0%, #a0d4ff 25%, #5db1f7 75%, #45a6f7 100%);
    -fx-text-fill: white;
}

.list-cell { /* <=== can change to even for stripes */
    -fx-background-color: white;
    -fx-font-size: 12px;
    -fx-font-family: "Helvetica";
    -fx-text-fill: rgb(0, 30, 128);
}

.list-cell:filled:hover {
    -fx-background-color: #68b7f9;
    -fx-text-fill: white;
}

.label{
    -fx-font-size: 14px;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(179, 255, 255);
    -fx-background: rgb(26, 140, 255);
}

.root{
    -fx-font-size: 12px;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(179, 255, 255);
    -fx-background: white;
}

.button {
	-fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 10 7 10;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;

}

.button:hover {
    -fx-background-color: linear-gradient(#0156aa, #80befc);
}

.chart-plot-background {
-fx-background-color: transparent;
}

.default-color0.chart-bar {
-fx-bar-fill: #68b7f9
}

.default-color0.chart-series-line {
-fx-stroke: red;
}