.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.label{
    -fx-font-size: 14px;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(179, 255, 255);
    -fx-background: rgb(26, 140, 255);
}

.root{
    -fx-font-size: 12px;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(179, 255, 255);
    -fx-background: rgb(204, 238, 255);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(rgb(204, 230, 255), rgb(0, 30, 128));
    -fx-effect: dropshadow( three-pass-box , rgb(0, 100, 128) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
